@{
    ViewBag.Title = "CrearPoliza";

}

<br />
<br />

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Creación de Pólizas</h1>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <form>
        <div class="row">
            <div class="col-md-12">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                            <div class="col-sm-10">
                                <input type="text" id="nombre" class="form-control" placeholder="Nombre Póliza">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
                            <div class="col-sm-10">
                                <textarea type="text" id="descripcion" class="form-control" placeholder="escripción"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="tipoCubrimiento" class="col-sm-3 col-form-label">Tipo de Cubrimiento:</label>
                            <div class="col-md-5">
                                <select class="form-control" id="tipoCubrimiento" style="width:200px"></select>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <label for="inicioVigencia" class="col-sm-3 col-form-label">Inicio Vigencia:</label>
                            <div class="col-md-5">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" id="inicioVigencia">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="periodoCobertura" class="col-sm-3 col-form-label">Periodo cobertura:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control input-number" id="periodoCobertura" style="width:200px" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <label for="precioPoliza" class="col-sm-3 col-form-label">Precio Poliza:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control input-number" id="precioPoliza">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="tipoRiesgo" class="col-sm-3 col-form-label">Tipo de Reisgo:</label>
                            <div class="col-md-5">
                                <select class="form-control" id="tipoRiesgo" style="width:200px"></select>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <label for="porcentajeCobertura" class="col-sm-3 col-form-label">Porcentaje cobertura:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control input-number" id="porcentajeCobertura" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4 col-lg-offset-4">
                    <button type="button" id="btnGuardar" class="btn btn-primary" onclick="GuardarPoliza();">Aceptar</button>
                    <button type="button" id="btnCancelar" class="btn btn-primary">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="alert-danger" id="errorMessage"></div>
</div>

@section Scripts{

<script src="~/Scripts/Services/TipoCubrimiento.js"></script>
<script src="~/Scripts/Services/TipoRiesgo.js"></script>
<script src="~/Scripts/Services/Poliza.js"></script>
    <script type="text/javascript">

        $('.datepicker').datepicker();
</script>
}
