
@{
    ViewBag.Title = "Index";

}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Administración de Pólizas</h2>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <button type="button" id="btnCrearPoliza" class="btn btn-primary">Crear</button>
            </div>
        </div>
       

    </div>


    <table id="polizasGrid" class="display" width="100%"></table>

</div>




@section Scripts{
   
<script src="~/Scripts/Services/Poliza.js"></script>
}